body {
	max-width: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
header {
	text-align: center;
}
div p {
	align-items: left;
	text-align: left;
}

main div {
	text-align: right;
	align-items: right;
	display: flex;
	flex-direction: column;
	padding-left: 28rem;
}
.riddle {
	color: red;
}
div button {
	color: blue;
	display: flex;
	align-items: ;
}
h3 {
	text-align: left;
}
